@using FirstWebApp.WebApp.Models.ViewModel
@model LoginModel

@{
    ViewBag.Title = "Авторизация";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm(new {ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Войти" />
    </fieldset>
    <p>
        @Html.ActionLink("Зарегистрируйтесь", MVC.Account.Register()) если не имеете тут акаунта.
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
