@using FirstWebApp.WebApp.Models.ViewModel
@model LocalPasswordModel
@{
    ViewBag.Title = "Управление акаунтом";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Вы авторзованны как <strong>@User.Identity.Name</strong>.</p>

@Html.Partial(MVC.Account.Views._ChangePasswordPartial)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
