@model List<FirstWebApp.Models.RegistratedMember>
@{
    ViewBag.Title = @Resources.Resource.RegistratedMembers;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<body>
    <div>
        <table>
            <tr><td><p>Участник</p></td>
                <td><p>Дата регистрации</p></td>
            </tr>
           
            @foreach (var registratedMember in @Model)
            {
                <tr>
                    <td>@registratedMember.UserProfile.UserName</td>
                    <td>@registratedMember.DateRegistration</td>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>@Html.ActionLink("Изменить", "Edit", new { id = registratedMember.Id })</td>
                        <td>@Html.ActionLink("Удалить", "Remove", new { id = registratedMember.Id })</td>
                    }
                </tr>
            }

        </table><br>
        @Html.ActionLink("Принять участие\\Отказаться", "RegistrateOnEvent", "Home")

    </div>
</body>
