@using FirstWebApp.Repository.Interfaces
@model List<IRegistratedMember>
@{
    ViewBag.Title = @Resources.Resource.RegistratedMembers;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<body>
    <div>
        <table>
            <tr><td><p>Участник</p></td>
                <td><p>Дата регистрации</p></td>
            </tr>
           
            @foreach (var registratedMember in @Model)
            {
                <tr>
                    <td>@registratedMember.UserProfile.UserName</td>
                    <td>@registratedMember.DateRegistration</td>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td>@Html.ActionLink("Изменить", MVC.Home.EditInfoAboutRegistratedUser(registratedMember.Id))</td>
                        <td>@Html.ActionLink("Удалить", MVC.Home.RemoveRegistratedUser(registratedMember.Id))</td>
                    }
                </tr>
            }

        </table><br>
        @Html.ActionLink("Принять участие\\Отказаться", MVC.Home.RegistrateCurrentUserOnGame())

    </div>
</body>
